@import "../../assets/styles/variables";

.ctn__logo {
  position: absolute;
  top: 21px;
  left: 90px;
}

.ctn__phone {
  position: absolute;
  right: 90px;
  top: 21px;
  display: flex;
}

.ctn__phone span {
  margin-right: 17px;
  font-size: 12px;
}

.ctn__phone a {
  font-size: 14px;
  text-decoration: none;
}